.bod{
 position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    min-width: 1024px;
    min-height: 768px;
}

.contain{
overflow: hidden;

}

.marge{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.highc{

}

.contain{
    display: inherit;
    width: 100%;
    height: 100%;
}

.row_one2{
    max-height: 82.5vh;
}

.row_one1{
    height: 82.5vh;
}

#yearcontain{
min-width: 310px; max-height: 350px; margin: 0 auto;
}
#onecontain{

   min-width: 310px; max-height: 350px; margin: 0 auto ;
}
.toprow{
    position: relative;
    background: white;
    width: 100%;
    height:5%;
    min-height: 30px;
    
}

 #map {
    position: relative;
    height:100%;
    width: 100%;
   
  }

  .sect_btn{
   
    margin: 5px;
  }

#intro{
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}

.intro_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navie{
    background-color:#A2719B;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
}

.intro_text{
    z-index: 100;
    background-color: green;
    width:50%;
    height: 50%;
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_bar {
    background-color: blue;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    
    cursor: pointer;
}








.colors {
  background: linear-gradient(to bottom, #2dc4b2, #3bb3c3, #669ec4, #8b88b6, #a2719b, #aa5e79);
  margin-top: 6px;
  margin-left: 10px;
  width: 20px;
  height: 175px;
  float: left;
}
.labels{
    margin-top:0;
  margin-left: 10px;
  float:left;
}

.label {
  width: auto;
  padding: 5px;
}

div.bottom{
height: 180px;
margin-left: auto;
margin-right: auto;
margin-bottom: 0px;


}

#legend{
    padding:3px;
    margin: 5px;
    position: absolute;
    z-index: 100;
    background-color:white;
}



.drop_height{
    max-height: 300px;

}